#messages {
    list-style-type: none;
    margin: 0; padding: 0;
     }
#messages li { 
    padding: 5px 10px; 
}
li{
    font-size: 1.4vw;
    max-width:80rem;
    word-wrap:break-word; 
    }   
/* #messages li:nth-child(odd) { 
    background: rgba(254, 255, 192, 0.301); 
} */
/* #messages li:nth-child(even) { 
    background: rgba(194, 246, 255, 0.308); 
} */

#chat{
    width: 100%;
    height: 500px;
    overflow-y: auto;
    }